<template id='batches-template'>
<div>
	<h1>
		<span tt='show_last_batches'></span>
		<span v-if='typeof user_name!="undefined"'>
			<span tt='for_user'></span> {{user_name}}
		</span>
	</h1>

	<div v-if='!user.is_logged_in'>
		<span tt='admin_hint'></span> <a href='./api.php?action=oauth_redirect'><span tt='login'></span></a>!
	</div>

	<div class='position_button_bar'>
	  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	    <div class="btn-group mr-2" role="group">
	      <button type="button" class="btn btn-outline-secondary" v-if='batches_position>0' @click.prevent='setBatchesPosition(0)' tt='bc_start'></button>
	      <button type="button" class="btn btn-outline-secondary" disabled v-else tt='bc_start'></button>
	      <button type="button" class="btn btn-outline-secondary" v-if='batches_position>0' @click.prevent='setBatchesPosition(batches_position - 1)'  tt='bc_previous'></button>
	    </div>
	    <div class="btn-group mr-1" role="group">
	      <span tt='page' style='margin-top:0.4rem;margin-right:0.2rem;'></span>
	      <input v-model='wanted_page' @keyup='onChangeWantedPage' class='form-control' type='number' style='width:5rem;' />
	    </div>
	    <div class="btn-group mr-2" role="group">
				<button type="button" class="btn btn-outline-secondary" v-if='batches_position<batches_size' @click.prevent='setBatchesPosition(batches_position + 1)' tt='bc_next'></button>
	      <button type="button" class="btn btn-outline-secondary" v-if='batches_position<batches_size' @click.prevent='setBatchesPosition(batches_size)' tt='bc_end'></button>
	      <button type="button" class="btn btn-outline-secondary" disabled v-else tt='bc_end'></button>
	    </div>
	  </div>
	</div>

	<table v-if='true' class='table table-striped'>
		<thead><tr><th>#</th><th tt='user'></th><th tt='name'></th><th tt='status'></th><th tt='last_change'></th><th tt='actions'></th></tr></thead>
		<tbody>
			<tr v-for='b in view_batches'>
				<td>
					<router-link :to='"/batch/"+b.batch.id'>#{{b.batch.id}}</router-link>
				</td>
				<td>
					<div>
						<a :href='wikiUrl+b.batch.user_name' class='wikidata' target="_blank">{{b.batch.user_name}}</a>
					</div>
					<div v-if='b.batch.user_name!=user.getUserName()'>
						[<router-link :to='"/batches/"+b.batch.user_name' tt='batches'></router-link>]
					</div>
				</td>
				<td>
					{{b.batch.name}}
				</td>
				<td>
					<div>
						<span v-if='b.batch.status=="RUN"'><b tt='running'></b></span>
						<span v-else>{{b.batch.status}}</span>
					</div>
					<div>
						<span v-for='(num,cmd) in b.commands' style='margin-right:0.5rem;'>
							<span :class="'badge badge-'+status_class[cmd]" style='font-weight:normal;'>{{cmd}}:{{num}}</span>
						</span>
					</div>
				</td>
				<td>
					{{formatDate(b.batch.ts_last_change)}}
				</td>
				<td style='display:flex;flex-direction:row'>
					<!-- <div>
						<a target='_blank' class='btn btn-outline-dark' :href='"https://tools.wmflabs.org/editgroups/b/QSv2/"+b.batch.id' tt='revert_batch'></a>
					</div> -->
					<div v-if='(b.batch.status=="RUN") && userCanStopBatch(b.batch)'>
						<button class='btn btn-outline-danger' tt='stop' @click='stopBatch(b)'></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div v-else-if='!working' tt='no_batches'></div>

</div>
</template>


<script>
'use strict';

let BatchesPage = Vue.extend ( {
    props : ['user_name'] ,
    data : () => {
		return {
			batches:{},
			status_class:{
		    	INIT:'primary',
		    	DONE:'success',
		    	ERROR:'danger',
		    	RUN:'info'
    		},
			working:false,
			interval:'',
			update_interval_ms:5000,
			batches_position: 0,
			batches_display_count: 20,
			batches_size: 0,
			view_batches:{},
			wanted_page:1,
			wikiUrl: ''
		}
	},
    created : function () {
    	var me = this ;
    	me.loadBatches () ;
    	me.interval = setInterval ( me.loadBatches , me.update_interval_ms ) ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () {
		fetch('config.json')
		.then(res => res.json())
		.then(data => {
			this._data.wikiUrl = data.sites.wikidata.pageBase
		});

		tt.updateInterface(this.$el);
	} ,
    beforeDestroy : function () { clearInterval ( this.interval ) } ,
    methods : {
    	formatDate : function ( d ) {
			var meridium = 'am';
			var year = d.split(' ')[0].split('-')[0];
			year = year.substring(2);
			var month = d.split(' ')[0].split('-')[1];
			var date = d.split(' ')[0].split('-')[2];
			var hours = d.split(' ')[1].split(':')[0];
			var minutes = d.split(' ')[1].split(':')[1];
			var seconds = d.split(' ')[1].split(':')[2];

			if (hours >= 12) {
				meridium = 'pm';
				hours -= 12;
			}

			return `${month}-${date}-${year} ${hours}:${minutes}:${seconds} ${meridium}`
    	} ,
    	stopBatch : function ( b ) {
    		var me = this ;
    		let batch_id = b.batch.id ;
			$.post ( 'api.php' , {
				action:'stop_batch',
				batch:batch_id
			} , function ( d ) {
				if ( d.status == 'OK' ) b.batch.status = 'STOP' ;
				else b.batch.status = '???' ;
			} , 'json' ) ;

    	} ,
        userCanStopBatch : function ( batch ) {
        	var me = this ;
            if ( user.isAdmin() ) return true ;
            if ( user.getUserName() == batch.user_name ) return true ;
            return false ;
        } ,
        loadBatches : function () {
            var me = this ;
            me.working = true ;
            $('#working').show() ;
            let params = { action:'get_batches_info' } ;
            if ( typeof me.user_name != "undefined" ) params.user = me.user_name ;
            $.get ( './api.php' , params , function ( d ) {
            	me.working = false ;
            	$('#working').hide() ;
            	if ( d.status != 'OK' ) {
            		alert ( d.status ) ;
            		return ;
            	}
            	let data = Object.values ( d.data ) ;
            	data.sort ( function ( a , b ) {
            		return b.batch.ts_last_change*1 - a.batch.ts_last_change*1 ;
            	} ) ;
							data.reverse();
							me.batches_size = Math.round(data.length/me.batches_display_count)-1;
            	me.batches = data ;
							me.view_batches = me.batches.slice((me.batches_position*me.batches_display_count), ((me.batches_position+1)*me.batches_display_count) );
            } , 'json' ) ;
        },
				setBatchesPosition : function ( new_position ) {
					var me = this;
					if ( new_position < 0 ) new_position = 0 ;
					me.batches_position = new_position;
					me.view_batches = me.batches.slice((me.batches_position*me.batches_display_count), ((me.batches_position+1)*me.batches_display_count) );
				},
				onChangeWantedPage : function () {
					let new_position =((1*this.wanted_page)-1);
					if ( new_position == this.batches_position ) return ;
					this.setBatchesPosition ( new_position ) ;
				}
    },

    template:'#batches-template'
} ) ;
</script>
